.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
}
.card img {
  width: 100%;
}
